<h1>Run</h1>
<dl class="dl-horizontal">
	<dt>UUID</dt>
	<dd>{{run.uuid}}</dd>
</dl>
<ul>
	<li>Job: {{run.job.name}}</li>
	<li>Started: {{run.start | date:'medium'}}</li>
	<li ng-hide="run.end">This job is still running</li>
	<li ng-show="run.end">Ended: {{run.end | date:'medium'}}</li>
	<li ng-hide="run.results">There don't seem to be any results.</li>
	<li ng-show="run.results">Results:
		<ul ng-repeat="result in run.results">
			<li><b>{{result.task.name}}</b></li>
			<li>Started: {{result.start | date:'medium'}}</li>
			<li ng-hide="result.end">This task is still running</li>
			<li ng-show="result.end">Ended: {{result.end | date:'medium'}}</li>
			<li>Duration: {{result.end - result.start}}</li>
			<li ng-show="result.error">{{result.error }}</li>
			<li ng-hide="result.logfilename">No log from this task</li>
			<li ng-show="result.logfilename"><a href="/files/logs/{{run.uuid}}/{{result.logfilename}}">{{result.logfilename}}</a></li>
		</ul>
	</li>
</ul>
